* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background-color: orange; */
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000; */
  /* margin: 0; */
  padding: 0;
}
/**
* /* Always set the map height explicitly to define the size of the div
* element that contains the map.
*
* @format
*/
h2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* margin-top: 20px; */
  color: orange;
  /* font-weight: bold; */
  /* background-color: rosybrown; */
}

.h2 {
  margin-top: 20px;
  font-weight: bold;
}

h3 {
  font-style: italic;
}
#map {
  height: 100%;
}

.container {
  /* height: 100%; */
  /* width: 100%; */
  margin-top: 20px;
}

.list-group {
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

.list-group li button {
  background: none;
  border: none;
}
/* Swiper */

div[class*="swiper-container"] {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-bottom: 100px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.search {
  padding-left: 120px;
}
#distance, #search-type {
  width: 90%;
}

