* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}


/* body { */
  /* background-color: orange; */
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000; */
  /* margin: 0; */
  /* padding: 0; */
}
/**
* /* Always set the map height explicitly to define the size of the div
* element that contains the map.
*
* @format
*/
h2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* margin-top: 20px; */
  /* color: orange; */
  /* font-weight: bold; */
  /* background-color: rosybrown; */
}

.top10 {
  margin-top: 20px;
  /* font-weight: bold; */
}

h3 {
  font-style: italic;
  /* margin: auto; */
}
#map {
  height: 47vh;
  border: 5px solid black;
}

.list-group {
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

.nearby-list {
  margin-bottom: 15px;
}

.list-group li button {
  background: none;
  border: none;
}
/* Swiper */

div[class*="swiper-container"] {
  width: 250px;
  height: 250px;
  position: relative;
  /* margin-bottom: 37px; */
  margin: auto auto 37px auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

div[class*=swiper-pagination] {
  margin-left: 42px;
}

#distance {
  margin-bottom: 10px;
  width: 90%;
}

h1 {
  font-size: 40px
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
  }
}