* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

/**
* /* Always set the map height explicitly to define the size of the div
* element that contains the map.
*
* @format
*/
h2 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.top10 {
  margin-top: 20px;
  /* font-weight: bold; */
}

h3 {
  font-style: italic;
  text-align: center;
}
#map {
  height: 45vh;
  border: 5px solid black;
}

.list-group {
  border: 1px solid black;
  overflow: hidden;
  overflow-y: scroll;
  height: 300px;
}

.nearby-list {
  margin-bottom: 15px;
}

.list-group li button {
  background: none;
  border: none;
}

.nearby-list {
  margin-top: 12px;
}
/* Swiper */

div[class*="swiper-container"] {
  width: 250px;
  height: 250px;
  position: relative;
  /* margin-bottom: 37px; */
  margin: auto auto 37px auto;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.text {
  font-weight: bold;
  background-color: black;
  color: white;
  font-size: 19px;
  margin-top: 43%;
  text-align: center;
}

div[class*="swiper-pagination"] {
  margin-left: 42px;
}

#distance {
  margin-bottom: 10px;
  width: 90%;
}

#search-type {
  height: 35px;
}

#submit-btn {
  margin-top: -5px;
  height: 35px;
}
h1 {
  font-size: 40px;
}

/* Loader */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 40px auto -240px auto;
}

.errorText {
  font-size: 20px;
  text-align: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
  }

  .list-group {
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 24px;
  }

  div[class*="swiper-container"] {
    width: 200px;
    height: 200px;
  }
}
